{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<section class="text-center">
    <h1 class="mb-4">Bienvenue sur EcoRide</h1>
    <p class="lead">Covoiturage écoresponsable, facile et rapide.</p>
</section>
{% endblock %}
