<h1>Réinitialisation du mot de passe</h1>
<p>Bonjour,</p>
<p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous :</p>
<p><a href="{{ resetUrl }}">Réinitialiser mon mot de passe</a></p>
<p>Ce lien expirera dans 1 heure.</p>
