.logo-medallion {
            width: 25mm; /* Taille d’une pièce de 2€ */
            height: 25mm;
            border-radius: 50%;
            object-fit: cover;
            border: 2px solid #fff; /* Bordure blanche */
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Formulaire de recherche */
.search-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.search-form input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}
