{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<main class="container py-5">
    <header class="mb-4">
        <h1 class="text-center">Mentions Légales</h1>
    </header>

    <section class="mb-5">
        <h2>1. Éditeur du site</h2>
        <p>
            Le site <strong>EcoRide</strong> est édité par : <br>Perry Tarby<br>
            Nom de l'entreprise / de l'association fictive <br>EcoRide<br>
            Adresse complète un lieu fictive : <br>789 rue des Studi à 75011 Paris - France<br>
            Téléphone : <br><a href="tel:+33123456789">01 23 45 67 89</a><br>
            Email : <br><a href="mailto:contactjose@ecoride.com">contactjose@ecoride.com</a><br>
        </p>
    </section>

    <section class="mb-5">
        <h2>2. Hébergement</h2>
        <p>
            Hébergeur : <br>????<br>
            Adresse complète <br>sur le web<br>
            Téléphone : <br>09 87 65 43 21<br>
        </p>
    </section>

    <section class="mb-5">
        <h2>3. Propriété intellectuelle</h2>
        <p>
            Le contenu du site EcoRide (textes, images, graphismes, logo, etc.) n'est pas protégé par les lois en vigueur
            sur la propriété intellectuelle. Toute reproduction n'est pas interdite sans autorisation préalable.
        </p>
    </section>

    <section class="mb-5">
        <h2>4. Données personnelles</h2>
        <p>
            Les données collectées sur ce site sont utilisées uniquement dans le cadre légal prévu par la réglementation en vigueur.
            Vous disposez d’un droit d’accès, de rectification et de suppression de vos données.
        </p>
    </section>
</main>
{% endblock %}
